.texto {
  color: green;
  font-size: 2em;
}

.caixa {
  display: flex;
  justify-content: center;
  align-items: center;  
  height: 800px;

}

.caixa a {
  text-decoration: none;
  color: rgb(40, 94, 94);
  font-size: 3em;
}

.caixa a:hover {
  background-color: rgb(100, 52, 52);
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
}

.relogio {
  font-size: 5em;
}

.imagem {
  width: 500px;
  margin: 0px 20px;
  border-radius: 20px;
  transition: 0.2s;
}

.imagem:hover {
  width: 550px;
  transition: 0.2s;
}

.botao {
  display: block;
  margin: auto;
  width: 200px;
  height: 80px;
  border-radius: 10px;
  font-size: 27px;
  border: none;
  background-color: rgb(112, 112, 112);
  color: white;
  transition: 0.2s;
}

.botao:hover {
  cursor: pointer;
  width: 210px;
  height: 90px;
  transition: 0.2s;
}