* {
    padding: 0;
    margin: 0;
    border: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    width: 150px;
    height: 40px;
    background-color: rgb(55, 58, 99);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 27px;
    padding: 5px;
}

button:hover {
    background-color: #fff;
    color: rgb(55, 58, 99);
    border: 2px solid #000;
}

.curso {
    display: flex;
    justify-content: center;
    width: 200px;
    border: 4px solid #888;
    padding: 10px;
    margin: 5px 0px;
    cursor: pointer;
}

.selecionado {
    background-color: #900 !important;
    color: #fff !important;
    border-color: #ffe600;
}

.c1 {
    background-color: #ccc;
    color-interpolation-filters: #444;
}

.c2 {
    background-color: #444;
    color: #ccc;
}

.caixa {
    border: 4px solid #000;
    background-color: #eee;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    height: 500px;
    width: 300px;
}

.tudo {
    margin-top: 150px;
}