.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
}

.dados {
  display: flex;
}

.legendaCampos {
  margin-bottom: 5px;
}

.campos {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.campoTexto {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgb(218, 218, 218);
  background-color: rgb(206, 206, 206);
  color: white;
  font-size: 1em;
}

.botao {
  margin: 30px 0px;
}

.botaoCalcular {
  width: 100px;
  height: 40px;
  background-color: rgb(181, 201, 224);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: 0.2s;
}

.botaoCalcular:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s;
}

.rodape {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dadosUsuario {
  display: flex;
}

.containerResultados {
  display: flex;
}

.textoResultados {
  margin-right: 20px;
  background-color: rgb(134, 218, 134);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.textoDadosUsuario {
  margin-right: 20px;
  background-color: rgb(212, 90, 116);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}